$toggle_switch_button_unchecked_background-color: #ccc !default;
$toggle_switch_button_checked_background-color: #337ab7 !default;

.switch-group {
  position: relative;

  .switch-label {
    width: auto;
    margin: 0 10px;
    height: 26px;
    position: absolute;
    cursor: pointer;
  }

  &.input-group {

    .switch-label {
      position: relative;
      font-size: inherit;
      height: inherit;
      line-height: 25px;
      margin: 0 10px 0 0;
      -webkit-border-radius: 0 0 0 0;
      -moz-border-radius: 0 0 0 0;
      border-radius: 0 0 0 0;
      cursor: inherit;
    }

    label.switch-btn {
      margin-top: 6px;
    }
  }

  .switch-action-icon {
    height: 26px;
    position: absolute;
    top: 6px;
    left: 55px;
  }
}

.switch {
  display: none;

  + .switch-btn {
    margin: 0;
    outline: 0;
    width: 50px;
    height: 26px;
    position: relative;
    cursor: pointer;
    user-select: none;
    background: $toggle_switch_button_unchecked_background-color;
    border-radius: 2em;
    padding: 2px;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;


    &:after, &:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }

    &:after {
      left: 0;
      border-radius: 50%;
      background: #fff;
      -webkit-transition: 0.2s ease;
      -o-transition: 0.2s ease;
      transition: 0.2s ease;
    }

    &:before {
      display: none;
    }
  }

  &:checked {

    + .switch-btn {
      background: $toggle_switch_button_checked_background-color;

      &:after {
        left: 50%;
      }
    }
  }
}