$toggle_switch_button_label_background_color: #eeeeee !default;
$toggle_switch_button_label_border_color: #ccc !default;
$toggle_switch_button_label_font_size: inherit !default;
$toggle_switch_button_unchecked_background_color: #ccc !default;
$toggle_switch_button_checked_background_color: #337ab7 !default;
$toggle_switch_button_label_border_radius: 4px !default;

.switch-group {
  position: relative;
  display: table;

  .switch-icon {
    display: table-cell;
    border: 1px solid $toggle_switch_button_label_border_color;
    background-color: $toggle_switch_button_label_background_color;
    font-size: $toggle_switch_button_label_font_size;
    padding: 6px 12px;
    vertical-align: middle;

    &.end {
      -webkit-border-top-right-radius: $toggle_switch_button_label_border_radius;
      -moz-border-radius-topright: $toggle_switch_button_label_border_radius;
      border-top-right-radius: $toggle_switch_button_label_border_radius;
      -webkit-border-bottom-right-radius: $toggle_switch_button_label_border_radius;
      -moz-border-radius-bottomright: $toggle_switch_button_label_border_radius;
      border-bottom-right-radius: $toggle_switch_button_label_border_radius;
    }

    &.start {
      -webkit-border-top-left-radius: $toggle_switch_button_label_border_radius;
      -moz-border-radius-topleft: $toggle_switch_button_label_border_radius;
      border-top-left-radius: $toggle_switch_button_label_border_radius;
      -webkit-border-bottom-left-radius: $toggle_switch_button_label_border_radius;
      -moz-border-radius-bottomleft: $toggle_switch_button_label_border_radius;
      border-bottom-left-radius: $toggle_switch_button_label_border_radius;

      + .end {
        border-left: none;
      }
    }
  }

  .switch-label {
    @extend .switch-icon;
  }

  .switch-container {
    display: table-cell;
    vertical-align: middle;

    &.space-left {
      padding-left: 10px;
    }

    .switch-block {
      height: 26px;

      .switch {
        display: none;

        + .switch-btn {
          margin: 0;
          outline: 0;
          width: 50px;
          height: 26px;
          position: relative;
          cursor: pointer;
          user-select: none;
          background: $toggle_switch_button_unchecked_background_color;
          border-radius: 2em;
          padding: 2px;
          -webkit-transition: 0.4s ease;
          -o-transition: 0.4s ease;
          transition: 0.4s ease;

          &:after, &:before {
            position: relative;
            display: block;
            content: "";
            width: 50%;
            height: 100%;
          }

          &:after {
            left: 0;
            border-radius: 50%;
            background: #fff;
            -webkit-transition: 0.2s ease;
            -o-transition: 0.2s ease;
            transition: 0.2s ease;
          }

          &:before {
            display: none;
          }
        }

        &:checked {

          + .switch-btn {
            background: $toggle_switch_button_checked_background_color;

            &:after {
              left: 50%;
            }
          }
        }
      }
    }
  }
}